<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
    <title>Welcome</title>
</head>
<body>
    <div class="login-box animated fadeIn">
        <div class="box-header">
            <h2>Welcome to our Uploader</h2>
        </div>

        <a href="/<%=homeButton%>"><button><%=homeButton%></button></a>
    <a href="/signup"><button>Sign-Up</button></a>
    </div>
    
</body>
</html>