<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/animate.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="css/style.css">
    <script> 
    
    </script>
</head>
<body>
    
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="login-box animated fadeIn">
                <div class="box-header">
                    <h1 id="title">Welcome <%=username%></h1>
                    <h2>Upload Your File</h2>
                </div>
                <label for="filename">File</label>
                <div> <input type= "file" onclick="EnableButton()" name="filename" id="myFile" ></div>
            <div><input type="submit" id="submitId"></div>

            
            
            </div>

            
            
        </form>
        

        <form action="/logout" method="post">

                <div class="login-box animated fadeIn">
                    <button>Log Out</button>
                </div>
            
        </form>
        
        
    </div>

    <script>
        
        var x =document.getElementById("submitId");
    x.style.visibility = "hidden";
        function EnableButton(){
            
            
            var x =document.getElementById("submitId");
            
            x.style.visibility = "visible";
            
        }
    </script>
</body>


</html>